@keyframes textMenu {
    0% {
        text-shadow: 5px 1px 5px rgb(0, 255, 47),
            -5px 1px 5px rgb(244, 6, 212),
            2px 2px 0 #000
        ;
    }
    50% {
        text-shadow: 5px -5px 5px rgb(38, 0, 255),
            -5px 5px 5px rgb(244, 6, 6),
            2px 2px 0 #000
        ;
    }
    100% {
        text-shadow: 5px 1px 5px rgb(0, 255, 47),
            -5px 1px 5px rgb(244, 6, 212),
            2px 2px 0 #000
        ;
    }
}
@keyframes menuIn {
    from { opacity: 0.7; }
    to { opacity: 1; }
}
header nav .menu-tab.selected {
    @apply transition-opacity;
    /* animation: textMenu 5s linear forwards infinite; */
    animation: menuIn 0.5s ease-out forwards;
}
header {
    @apply sticky top-0 z-50 transition-all duration-500;

    .breadcrumbs {
        @apply opacity-100 translate-y-full pointer-events-auto absolute bottom-0 transition-all;
    }
}
header.is-sticky {
    .breadcrumbs { 
        @apply opacity-0 pointer-events-none;
    }
}
header.is-sticky:not(:has(.js-menu-opened)) {
    @apply bg-gradient-to-r from-theme to-theme-alpha shadow-lg;
    will-change: transform;
}
.next-crumb:before {
    @apply mr-2 text-[10px];
    content: '\27F6';
}