body {
    @apply bg-theme h-full flex flex-col items-center justify-start min-h-screen;
}
header {
    @apply flex items-center justify-start w-full text-white font-heading;
}
header,
footer {
    @apply min-h-[50px];
}
footer {
    @apply mt-auto w-full;
}
main {
    @apply w-full px-4 py-8 flex-grow flex flex-col justify-center gap-4;
}

h1 {
    @apply text-gray-400 font-heading;
    /* text-shadow: 0 0 50px #2454ad; */
}

footer a {
    @apply text-accent hover:text-accent-50 transition-all duration-200;

    &:hover {
        @apply underline;
        text-shadow: 0 0 10px black;
    }
}

/* Clear base styles for a range input */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}

/* ==========================================
   TRACK
   ========================================== */
:root {
    --range-track-height: 10px;
    --range-track-margin: -1px;
    --track-background-color: #99999911;
    --track-background-color-active: #99999955;

    --range-thumb-radius: 12px;
    --range-thumb-color: #ffffff99;
    --range-thumb-color-hover: #2563eb;
    --range-thumb-color-grab: #1d4ed8;
    --range-thumb-border: 1px solid #eee;
}
/* Chrome, Safari, Edge and Opera */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--range-track-height);
    background: var(--track-background-color);
    border-radius: 9999px;
    transition: background 0.15s ease;
}
/* Для Firefox */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--range-track-height);
    background: var(--track-background-color);
    border-radius: 9999px;
    transition: background 0.15s ease;
}
input[type="range"]:hover::-webkit-slider-runnable-track {
    background: var(--track-background-color-active);
}

/* ======== THUMB ======== */
/* Chrome, Safari, Edge and Opera */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: var(--range-thumb-radius); /* Размеры кругляшка */
    width: var(--range-thumb-radius);
    border-radius: 50%;
    background: var(--range-thumb-color); /* Наш фирменный цвет (blue-500) */
    border: var(--range-thumb-border); /* Белая аккуратная рамка */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* Легкая тень */
    cursor: grab;
    margin-top: var(--range-track-margin); /* Сдвиг вверх, чтобы выровнять по центру дорожки ((высота_дорожки 8px / 2) - (высота_бегунка 24px / 2)) */
    transition: transform 0.1s ease, background-color 0.1s ease;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
    height: var(--range-thumb-radius);
    width: var(--range-thumb-radius);
    border-radius: 50%;
    background: var(--range-thumb-color);
    border: var(--range-thumb-border);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: grab;
    transition: transform 0.1s ease, background-color 0.1s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--range-thumb-color-hover);
    transform: scale(1.1);
}
input[type="range"]::-webkit-slider-thumb:active {
    cursor: grabbing;
    background: var(--range-thumb-color-grab);
}
input[type="range"]::-moz-range-thumb:hover {
    background: var(--range-thumb-color-hover);
    transform: scale(1.1);
}

button[disabled] {
    @apply pointer-events-none opacity-10;
}

/** Additional styles */
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/** All page scale for big-screens */
@media (min-width: 1536px) {
    html {
        font-size: clamp(16px, 1vw + 2px, 24px); 
    }
}