/** Styles for reducing layout shift of dynamic components */

/** Fetching elements styles */
tv-email:not([x-data]),
tv-dropdownlist:not([x-data]),
tv-three-render:not([x-data]),
tv-babylon-render:not([x-data]) {
    @apply animate-pulse bg-slate-600 rounded-md flex items-center justify-center relative overflow-hidden;
}


/** Reduce shifting */
tv-email,
tv-three-render,
tv-dropdownlist,
tv-babylon-render {
    @apply block;
}

tv-email {
    @apply min-h-[115px];
}
tv-dropdownlist,
tv-three-render,
tv-babylon-render {
    @apply min-h-[394px];
}